body {
  font: 18px helvetica;
}

#title {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

#container {
  border-radius: 1em;
  color: #fff;
  display: flex;
  justify-content: center;
  background-color: rgba(1, 1, 1, 0.8);
}
